<?xml version="1.0" encoding="UTF-8"?>
<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0">    
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style2.css" />
    <title>突っ込みボタン</title>
  </head>

  <body>
    <div id="wrapper">
      <button id="nandeyanen-button" class="btn btn-primary">なんでやねん</button>
      <button id="seyana-button" class="btn btn-primary">せやな</button>
      <button id="eeyan-button" class="btn btn-primary">ええやん！</button>
      <button id="shoot-button" class="btn btn-primary">バキューン!</button>
      <button id="hakushu-button" class="btn btn-primary">拍手</button>
      <audio id="mixAud1" src="1.mp3"></audio> <!-- nandeyanen -->
      <audio id="mixAud2" src="2.mp3"></audio><!-- seyana -->
      <audio id="mixAud3" src="3.mp3"></audio><!-- iine -->
      <audio id="mixAud4" src="4.mp3"></audio><!-- shoot -->
    </div><!-- wrapper -->
    <script type="text/javascript" src="/javascripts/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/projection2.js"></script>
  </body>
</html>
