<?xml version="1.0" encoding="UTF-8"?>
<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style2.css" />
    <title>APISNOTE</title>
    <script type="text/javascript" src="/javascripts/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/postit.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/projection.js"></script>
    <script type="text/javascript" src="/javascripts/ui.js"></script>
    <script type="text/javascript">
    </script>
  </head>

  <body id="testwrapper">
    <div id="canvastitle">
      <h1></h1>
    </div>
    <div id="postitwrapper">

    </div><!-- postitwrapper -->

    <button id="delete-button" class="btn btn-danger">delete</button>
    <div id="inputarea" class="span10">
      <div id="colorbuttons" class="btn-group">
        <button id="yellow-button" class="btn btn-warning btn-mini active color-button">　</button>
        <button id="red-button" class="btn btn-danger btn-mini color-button">　</button>
        <button id="green-button" class="btn btn-success btn-mini color-button">　</button>
        <button id="blue-button" class="btn btn-info btn-mini color-button">　</button>
      </div>
      <form action="#">
        <input id="input02" class="input-xlarge" type="text" placeholder="write comment on here..." />
        <button id="sendbutton" class="btn btn-primary" type="submit" onclick="return sendclick();" >send</button>
      </form>
    </div><!-- inputarea -->

    <div id="viewbuttons" class="btn-group" data-toggle="buttons-checkbox">
      <button id="fullbutton" class="btn btn-primary" onclick="switchfull();">full</button>
      <button id="switchtextareabutton" class="btn btn-primary active" onclick="switchtextarea();">text</button>
    </div><!-- viewbuttons -->


    <div class="modal fade" id="myModal">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>Modal header</h3>
      </div>
      <div class="modal-body">
        <p>One fine body…</p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn">Close</a>
        <a href="#" class="btn btn-primary">Save changes</a>
      </div>
    </div>
  </body>
</html>
