#wrapper{
  text-align:center;
}

button {
  width:100%;
  height:80px;
  margin-top:5px;
  margin-bottom:5px;
  margin-left:5px;
  margin-right:5px;
  font-size:1.3em;
}

#nandeyanen-button{
  display:block;
}
#seyana-button{
  display:none;
}
#eeyan-button{
  display:none;
}
#shoot-button{
  display:none;
}
#hakushu-button{
  visibility:visible;
}
