/* customize bootstrap */

* {
}

body {
  background-image:url(/images/texture2.png);
}

#inputarea{
  margin-left:auto;
  margin-right:-400px;
  position:fixed;
  bottom:0;
  right:50%;
  background:rgba(50,50,50,0.8);
  border-radius:10px 10px 0 0;
  padding-left:20px;
  padding-top:15px;
  padding-bottom:4px;
}

.postit {
  width:100px;
  height:100px;
  padding:10px;
  font-size:2em;
  line-height:1.2em;
  border:1px solid gray;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.8);
  position:absolute;
  top:100px;
  left:30px;
  cursor:pointer;
  word-wrap:break-word;
  border-radius:4px;
}

#postitwrapper{
  width:1px;
  height:1px;
}

.selected-postit{
  border:3px solid gray;
  box-shadow: 5px 5px 9px rgba(0,0,0,0.9);
}

.onlink-postit{
  border:3px solid gray;
  box-shadow: 5px 5px 9px rgba(0,0,0,0.9);
}

.selected-link{
  border:3px solid red;
}

.anch{
  display:none;
  background-color:red;
  width:10px;
  height:10px;
  position:absolute;
  top:10px;
  left:10px;
}


.selected-postit .anch{
  display:block;
  border-radius:4px;
}

#inputarea form{
  margin-bottom:0px;
}

#input02{
  width:580px;
  margin-left:10px;
}

#sendbutton{
  margin-left:6px;
  margin-top:-12px;
}

#inputarea_textarea{
  width:500px;
}

#testdiv {
  //margin-top:30px;
  margin-left:auto;
  margin-right:auto;
}

.hide {
  display:none;
}
.badge-iine{
  font-size:2em;
}
.container{
  width:780px;
  //background-image:url("/images/texture2.png");
}

.next{
  margin-top:30px;
}

#tweetimg {
  text-align:center;
}

#tweetimg img{
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
  width:80px;
  margin-top:8px;
}

#tweettext {
  font-size:2.3em;
  line-height:1.3em;
}

#tweettext-name {
  font-size:1.1em;
  font-weight:bold;
  margin-bottom:10px;
}

#testbutton{
  position:fixed;
  top:130px;
  left:30px;
}

#viewbuttons{
  position:fixed;
  top:30px;
  right:50px;
}

#colorbuttons {
}

.color-button{
  margin-top:3px;
}

#colorbuttons:after{
  clear:none !important;
}

#yellow-button{
}

.color0{
  background-color:yellow;
}
.color1{
  background-color:hotpink;
}
.color2{
  background-color:greenyellow;
}
.color3{
  background-color:lightskyblue;
}

/*
#switchtextareabutton{
position:absolute;
top:80px;
left:30px;

}

  #fullbutton{
  position:absolute;
  top:30px;
  left:30px;
}
 */


:-webkit-full-screen {
  width:100%;
  height:100%;
  background-image:url("/images/texture.png");

}

:moz-full-screen {
  width:100%;
  background-image:url("/images/texture.png");

}

:full-screen .container {
  width:100%;
  background-image:url("/images/texture.png");


}

:fullscreen .container {
  width:100%;
  background-image:url("/images/texture.png");
}

.sh_bottom_right{
  content: "";
  position:absolute;
  right: 0; bottom:0;
  width:100px; height: 100px;
  z-index: -1;
  background: rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 40px 30px 5px rgba(0, 0, 0, 0.40);
  -webkit-box-shadow: 20px 30px 5px rgba(0, 0, 0, 0.40);
  box-shadow: 20px 30px 5px rgba(0, 0, 0, 0.40);
  -moz-transform:skew(8deg,8deg) translate(-10px,-10px);
  -webkit-transform:skew(8deg,8deg) translate(-10px,-10px);
  transform:skew(8deg,8deg) translate(-10px,-10px);
}

#delete-button{
  position:fixed;
  top:30px;
  left:30px;
}


#wrapper{
  text-align:center;
  margin-right:auto;
  margin-left:auto;
  width:900px;
}

#wrapper img{
  width:300px;
  margin-top:50px;
  margin-bottom:50px;
}


#wrapper p{
  margin-bottom:40px;
}

#wrapper button{
  margin-top:-8px;
  margin-left:6px;
}

#wrapper #input-desc{
  width:295px;
}

#wrapper a{
  color:black;
}

#canvastitle{
  text-align:center;
  width:800px;
  margin-left:auto;
  margin-right:auto;
  margin-top:35px;
  color:#333;
}

#canvastitle h1{
  font-size:4em;
}
